<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.r4phab.weather.credits">

    <application>
        <activity
            android:name=".presentation.CreditsActivity"
            android:theme="@style/Activity"
            android:label="Activity #1" />
    </application>
</manifest>